@charset "UTF-8";
/* line 1, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 3, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 5, ../sass/screen.scss */
h3, h2 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

/*серый фон*/
/*синий*/
/* цвет меню*/
/* line 14, ../sass/screen.scss */
.clr {
  clear: both;
}

/* line 17, ../sass/screen.scss */
.wrapper {
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* MENU*/
/* line 26, ../sass/screen.scss */
.menu {
  position: absolute;
  height: 7192px;
  width: 215px;
  border-right: 2px solid #a7a7a7;
  background: #f3f3f3;
  z-index: 5;
}

/* line 28, ../sass/screen.scss */
.menu__fix {
  position: absolute;
  position: fixed;
  width: 150px;
  height: 600px;
  z-index: 6;
}

/* line 30, ../sass/screen.scss */
.menu__fix--title {
  position: absolute;
  top: 60px;
  left: 30px;
  height: 70px;
  width: 145px;
}
/* line 38, ../sass/screen.scss */
.menu__fix--title h2 {
  font-size: 1.4em;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}
/* line 42, ../sass/screen.scss */
.menu__fix--title span {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #3971ff;
}

/* line 49, ../sass/screen.scss */
#menu__fix--navbar {
  padding: 148px 0 0 30px;
  width: 156px;
}
/* line 50, ../sass/screen.scss */
#menu__fix--navbar li {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 20px 0px 19px 22px;
}
/* line 54, ../sass/screen.scss */
#menu__fix--navbar li:before {
  content: '';
  width: 12px;
  height: 2px;
  background: #3971ff;
  position: absolute;
  margin: 9px 0 0 -19px;
}
/* line 57, ../sass/screen.scss */
#menu__fix--navbar li a {
  color: #a7a7a7;
}
/* line 58, ../sass/screen.scss */
#menu__fix--navbar li a:hover {
  color: #4c4c4c;
}

/* line 63, ../sass/screen.scss */
#menu__fix--navbar li.active a {
  color: #4c4c4c;
}
/* line 64, ../sass/screen.scss */
#menu__fix--navbar li.active a:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 12px;
  height: 2px;
  background: #3971ff;
  top: -3px;
  left: -7px;
}

/* line 67, ../sass/screen.scss */
.border {
  border-top: 1px solid #a7a7a7;
}

/* line 69, ../sass/screen.scss */
.border_none {
  padding-top: 0;
}

/*content__one out

 menu out*/
/* Content page 1*/
/* line 74, ../sass/screen.scss */
.content__one {
  padding-left: 215px;
  max-width: 1350px;
  height: 586px;
  background: url(../../../img/page1.png) no-repeat 304px 148px #eaebed;
}

/* line 81, ../sass/screen.scss */
.content__title {
  padding: 9.1% 10.3% 0 0;
  float: right;
  color: #4c4c4c;
}
/* line 85, ../sass/screen.scss */
.content__title h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
/* line 90, ../sass/screen.scss */
.content__title h1 {
  font: "Exo 2", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
/* line 94, ../sass/screen.scss */
.content__title h1 span {
  color: #3971ff;
}
/* line 96, ../sass/screen.scss */
.content__title span {
  color: #3971ff;
}
/* line 97, ../sass/screen.scss */
.content__title p {
  max-width: 542px;
  line-height: 1.7;
  font-size: 18px;
  font: arial, Helvetica sans-serif;
}
/* line 102, ../sass/screen.scss */
.content__title--designer {
  max-width: 200px;
  padding: 5px 0;
  margin: 10px 0 39px 0;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
}
/* line 107, ../sass/screen.scss */
.content__title--designer span {
  font: arial, Helvetica sans-serif;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}
/* line 114, ../sass/screen.scss */
.content__title--button {
  margin-top: 42px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  float: left;
  width: 180px;
}
/* line 117, ../sass/screen.scss */
.content__title--button a {
  color: #4c4c4c;
  font-weight: 700;
}
/* line 118, ../sass/screen.scss */
.content__title--button:before {
  content: '';
  display: block;
  position: relative;
  top: 28px;
  left: 0;
  height: 2px;
  width: 50px;
  background: #3971ff;
}
/* line 119, ../sass/screen.scss */
.content__title--button:hover:before {
  content: '';
  display: block;
  width: 150px;
  color: #3971ff;
  transition: width 0.3s ease-out 0.3s;
}

/* line 122, ../sass/screen.scss */
.btn1-page1:hover a {
  color: #3971ff;
  width: 150px;
  color: #3971ff;
}

/* PAGE 1 OUT > PAGE 2*/
/* line 125, ../sass/screen.scss */
.content__two {
  padding-left: 215px;
  max-width: 1350px;
  height: 586px;
}

/* line 131, ../sass/screen.scss */
.content__two--title {
  color: #333333;
}
/* line 133, ../sass/screen.scss */
.content__two--title h2 {
  font-size: 25px;
  padding: 6.9% 0 0 7.3%;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
}
/* line 134, ../sass/screen.scss */
.content__two--title img {
  display: block;
  padding: 1.8% 0 0 7.0%;
}

/* line 137, ../sass/screen.scss */
.content__two--scale {
  max-width: 920px;
  margin: 9.5% 0 0 8.7%;
}

/* line 138, ../sass/screen.scss */
.scale--stat {
  width: 48%;
  height: 87px;
  display: inline-block;
}
/* line 139, ../sass/screen.scss */
.scale--stat p {
  float: right;
}
/* line 140, ../sass/screen.scss */
.scale--stat span {
  float: left;
}

/* line 144, ../sass/screen.scss */
.stat--full {
  max-width: 100%;
  height: 5px;
  padding-top: 39px;
}

/* line 145, ../sass/screen.scss */
.full--color {
  width: 90%;
  height: 5px;
  float: left;
  background: #3971ff;
}
/* line 146, ../sass/screen.scss */
.full--color:before {
  content: '';
  display: block;
  position: relative;
  border: 5px solid transparent;
  border-right-color: #b0c6ff;
  border-bottom: #b0c6ff;
}

/* line 154, ../sass/screen.scss */
.full--none {
  width: 10%;
  height: 5px;
  float: right;
  background: #b0c6ff;
}

/* line 155, ../sass/screen.scss */
.left {
  margin-left: 3%;
}

/* PAGE 2 OUT > PAGE 3*/
/* line 157, ../sass/screen.scss */
.content__three {
  padding-left: 215px;
  max-width: 1350px;
  height: 807px;
  background: #f3f3f3;
  z-index: 1;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
  color: #4c4c4c;
}

/* line 168, ../sass/screen.scss */
.page--title img {
  display: block;
  padding: 1.6% 0 0 8.4%;
}
/* line 169, ../sass/screen.scss */
.page--title h2 {
  padding: 7.3% 0 0 8.2%;
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

/* line 173, ../sass/screen.scss */
.graf__title1:hover, .graf__title0:hover, .graf__title3:hover, .graf__title4:hover {
  color: #3971ff;
}

/* line 174, ../sass/screen.scss */
.content__three--educ, .content__four--educ, .content__five--educ, .content__seven--educ {
  max-width: 920px;
  margin: 8.4% 0 0 8.2%;
  position: relative;
}

/* line 175, ../sass/screen.scss */
.educ--graf {
  width: 48%;
  display: inline-block;
  padding-bottom: 9.6%;
}
/* line 176, ../sass/screen.scss */
.educ--graf h3 {
  padding-left: 14.5%;
  text-transform: uppercase;
  font-size: 24px;
}
/* line 177, ../sass/screen.scss */
.educ--graf > p {
  font-size: 16px;
  padding-top: 8.7%;
  line-height: 191%;
}

/* line 179, ../sass/screen.scss */
.graf__title2 {
  padding: 3.5% 0 0 14.5%;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 180, ../sass/screen.scss */
.graf__title2 p {
  padding-top: 3.2%;
}

/* line 181, ../sass/screen.scss */
.digit {
  float: left;
  font-size: 30px;
  text-transform: uppercase;
}

/* PAGE 3 OUT > PAGE 4*/
/* line 185, ../sass/screen.scss */
.content__four {
  padding-left: 215px;
  max-width: 1350px;
  height: 807px;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
  color: #4c4c4c;
}

/* PAGE 4 OUT > PAGE 5*/
/* line 193, ../sass/screen.scss */
.content__five {
  padding-left: 215px;
  max-width: 1350px;
  height: 1333px;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
  color: #4c4c4c;
  background: #f3f3f3;
}

/* line 203, ../sass/screen.scss */
.resent--project {
  width: 48%;
  display: inline-block;
  padding-bottom: 10.1%;
}
/* line 204, ../sass/screen.scss */
.resent--project > span {
  display: block;
  padding-top: 10%;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 205, ../sass/screen.scss */
.resent--project p {
  display: block;
  padding-top: 2.6%;
  font-size: 16px;
  line-height: 180%;
}

/* line 206, ../sass/screen.scss */
.project-img {
  background: url(../../../img/page5-book1.png);
  height: 308px;
  width: 453px;
  display: block;
}
/* line 207, ../sass/screen.scss */
.project-img:hover {
  height: 308px;
  width: 453px;
  background: url(../../../img/page5plus.png);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition-duration: 0.9s;
}

/* PAGE 5 OUT > PAGE 6*/
/* line 210, ../sass/screen.scss */
.content__six {
  padding-left: 215px;
  max-width: 1350px;
  height: 768px;
  color: #4c4c4c;
  font-family: 'Roboto', sans-serif;
}

/* line 218, ../sass/screen.scss */
.content__six--sl1 {
  position: relative;
  color: #4c4c4c;
  display: block;
  max-height: 300px;
  max-width: 920px;
  margin: 6.45% 0 0 8.1%;
}

/* line 219, ../sass/screen.scss */
.sl1 {
  max-height: 300px;
}
/* line 220, ../sass/screen.scss */
.sl1 p {
  display: block;
  float: right;
  width: 58.3%;
  padding-top: 4.1%;
  line-height: 182%;
  font-weight: 550;
}
/* line 221, ../sass/screen.scss */
.sl1 img {
  display: block;
  float: left;
  background-size: cover;
  height: auto;
  width: 38%;
}
/* line 222, ../sass/screen.scss */
.sl1 span {
  float: left;
  display: block;
  font-size: 16px;
  padding: 2% 0 0 3.75%;
}
/* line 223, ../sass/screen.scss */
.sl1 h2 {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  color: "Exo 2", sans-serif;
  font-weight: 400;
  padding-top: 1.8%;
  margin-left: 41.6%;
  font-family: "Exo 2", sans-serif;
}
/* line 224, ../sass/screen.scss */
.sl1:active {
  border: none;
  outline: none;
}
/* line 225, ../sass/screen.scss */
.sl1:focus {
  border: none;
  outline: none;
}

/* line 227, ../sass/screen.scss */
.button__recentPost a {
  float: left;
  padding: 4.8% 0 0 3.7%;
  color: #3971ff;
  font-weight: 600;
}
/* line 228, ../sass/screen.scss */
.button__recentPost a:before {
  content: '';
  display: block;
  position: relative;
  top: 28px;
  left: 0;
  height: 2px;
  width: 50px;
  background: #3971ff;
}
/* line 229, ../sass/screen.scss */
.button__recentPost a:hover:before {
  content: '';
  display: block;
  width: 150px;
  color: #3971ff;
  transition: width 0.3s ease-out 0.3s;
}

/* line 232, ../sass/screen.scss */
.content__sixcl2 {
  max-width: 670px;
  margin: 8.35% 0 0 19.4%;
}

/* line 233, ../sass/screen.scss */
.content__six--sl2 {
  max-width: 594px;
  margin: 0 auto;
  text-align: center;
}
/* line 234, ../sass/screen.scss */
.content__six--sl2 .slick-current {
  border-bottom: 2px solid #3971ff;
}
/* line 235, ../sass/screen.scss */
.content__six--sl2 .slick-current:after.div {
  content: '';
  display: block;
  position: relative;
  width: 1.3px;
  border-bottom: 5px solid #3971ff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -21px;
  left: 44px;
}
/* line 236, ../sass/screen.scss */
.content__six--sl2:before {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 38px;
  background: #4c4c4c;
  top: 45px;
  left: -38px;
}
/* line 237, ../sass/screen.scss */
.content__six--sl2:after {
  content: '';
  display: block;
  position: relative;
  height: 2px;
  width: 38px;
  background: #4c4c4c;
  top: -2px;
  left: 594px;
}

/* line 238, ../sass/screen.scss */
.sl2 {
  font-size: 16px;
  height: 43px;
  border: none;
  outline: none;
  border-bottom: 2px solid #4c4c4c;
}

  /*
.slick-prev:before, .slick-next:before {   font-size: 50px; 
	color:#3971ff;  }*/
/* line 243, ../sass/screen.scss */
.slick-prev:before {
  content: '<';
  color: #4c4c4c;
  font-size: 16px;
  padding: 17px 19px;
  border-radius: 50%;
  border: 2px solid #4c4c4c;
}

/* line 244, ../sass/screen.scss */
.slick-next:before {
  content: '>';
  color: #4c4c4c;
  font-size: 16px;
  padding: 17px 19px;
  border-radius: 50%;
  border: 2px solid #4c4c4c;
}

/* line 245, ../sass/screen.scss */
.slick-prev:active:before {
  color: #3971ff;
  border: 2px solid #3971ff;
  opacity: 1;
}

/* line 246, ../sass/screen.scss */
.slick-prev:focus:before {
  color: #3971ff;
  border: 2px solid #3971ff;
  opacity: 1;
}

/* line 247, ../sass/screen.scss */
.slick-next:active:before {
  color: #3971ff;
  border: 2px solid #3971ff;
  opacity: 1;
}

/* line 248, ../sass/screen.scss */
.slick-next:focus:before {
  color: #3971ff;
  border: 2px solid #3971ff;
  opacity: 1;
}

/* line 249, ../sass/screen.scss */
.slick-prev {
  left: -23%;
  top: 95%;
}

/* line 250, ../sass/screen.scss */
.slick-next {
  right: -18.5%;
  top: 99%;
}

/* PAGE 6 OUT > PAGE 7*/
/* line 256, ../sass/screen.scss */
.content__seven {
  padding-left: 215px;
  max-width: 1350px;
  height: 812px;
  color: #4c4c4c;
  background: #f3f3f3;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
}

/* line 266, ../sass/screen.scss */
.educ--price {
  width: 48%;
  height: 484px;
  float: left;
  background: #fff;
}
/* line 267, ../sass/screen.scss */
.educ--price:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
/* line 268, ../sass/screen.scss */
.educ--price span {
  font-size: 24px;
  display: block;
  padding: 6.5% 0 0 7.5%;
  text-transform: uppercase;
}
/* line 269, ../sass/screen.scss */
.educ--price span p {
  font-size: 24px;
  color: #3971ff;
  display: inline-block;
  text-transform: uppercase;
}
/* line 270, ../sass/screen.scss */
.educ--price > p {
  font-size: 16px;
  display: block;
  width: 86%;
  padding: 9% 0 5% 8%;
  line-height: 170%;
}
/* line 271, ../sass/screen.scss */
.educ--price table {
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
}
/* line 272, ../sass/screen.scss */
.educ--price td {
  width: auto;
  border-bottom: 1px solid #000;
  padding: 22px 7.5%;
}
/* line 274, ../sass/screen.scss */
.educ--price:before {
  content: '';
  display: block;
  position: relative;
  top: 413px;
  left: 40%;
  height: 2px;
  width: 50px;
  background: #3971ff;
}
/* line 275, ../sass/screen.scss */
.educ--price:hover:before {
  width: 150px;
  transition: width 0.3s ease-out 0.5s;
}

/* line 278, ../sass/screen.scss */
.price--right {
  text-align: right;
}

/* line 279, ../sass/screen.scss */
.price--register {
  text-align: center;
  font-size: 16px;
  color: #3971ff;
  position: relative;
  top: -4.6%;
}

/* PAGE 7 OUT > PAGE 8*/
/* line 282, ../sass/screen.scss */
.content__eight {
  background: url(../../../img/page8.png) no-repeat 215px 0;
  padding-left: 215px;
  max-width: 1350px;
  height: 693px;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
  color: #4c4c4c;
}

/* line 291, ../sass/screen.scss */
.content__eight--sl1 {
  width: 355px;
  height: 130px;
  margin: 8.7% auto 0 auto;
}

/* line 292, ../sass/screen.scss */
.eight__sl1 {
  outline: none;
}

/* line 295, ../sass/screen.scss */
.content__eight--sl2 {
  height: 41%;
  max-width: 920px;
  margin: 2.3% 0 0  8%;
}

/* line 297, ../sass/screen.scss */
.eight__sl2 {
  text-align: center;
  outline: none;
}
/* line 298, ../sass/screen.scss */
.eight__sl2 h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 299, ../sass/screen.scss */
.eight__sl2 > p {
  font-size: 16px;
  padding-top: 1.7%;
}
/* line 300, ../sass/screen.scss */
.eight__sl2 > p span {
  color: #3971ff;
}

/* line 303, ../sass/screen.scss */
.sl2--text {
  margin-top: 2.7%;
  line-height: 2;
}

/* PAGE 8 OUT > PAGE 9*/
/* line 306, ../sass/screen.scss */
.content__nine {
  padding-left: 215px;
  max-width: 1350px;
  height: 800px;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
  color: #4c4c4c;
  background: #f3f3f3;
}

/* line 315, ../sass/screen.scss */
.content__social {
  width: 41.85%;
  height: 100%;
  float: left;
  margin-top: 8.5%;
}

/* line 316, ../sass/screen.scss */
.content__mail {
  width: 58.15%;
  height: 500px;
  float: right;
  margin-top: 5%;
}

/* line 317, ../sass/screen.scss */
.content__mail--form {
  max-width: 542px;
}

/* line 318, ../sass/screen.scss */
.content__social--location {
  margin: 0 26% 0 20%;
}
/* line 319, ../sass/screen.scss */
.content__social--location img {
  float: left;
}

/* line 320, ../sass/screen.scss */
.content__social--contact {
  margin: 20.7% 26% 0 20%;
}
/* line 321, ../sass/screen.scss */
.content__social--contact img {
  float: left;
}

/* line 322, ../sass/screen.scss */
.adds span {
  font-size: 24px;
  display: block;
  text-transform: uppercase;
  padding: 7.3% 0 0 29%;
}

/* line 324, ../sass/screen.scss */
.adds p {
  font-size: 16px;
  line-height: 170%;
  padding-top: 6.3%;
}

/* line 325, ../sass/screen.scss */
.be {
  color: red;
}

/* line 327, ../sass/screen.scss */
.content__social--icon {
  margin: 19.4% 0 0 11.7%;
}

/* line 328, ../sass/screen.scss */
.social--icon {
  height: 28px;
  width: 40px;
  display: inline-block;
  margin-left: 25px;
}
/* line 329, ../sass/screen.scss */
.social--icon:hover {
  transform-origin: center;
  transform: rotate(-360deg);
  transition-duration: 1s;
}

/* line 330, ../sass/screen.scss */
.icon_f {
  background-image: url(../../../img/icon_social.png);
  background-position: 0 0;
}

/* line 331, ../sass/screen.scss */
.icon_g {
  background-image: url(../../../img/icon_social.png);
  background-position: -42px -1px;
}

/* line 332, ../sass/screen.scss */
.icon_tw {
  background-image: url(../../../img/icon_social.png);
  background-position: -95px 0;
}

/* line 333, ../sass/screen.scss */
.icon_in {
  background-image: url(../../../img/icon_social.png);
  background-position: -149px 0;
}

/* line 335, ../sass/screen.scss */
input[type="text"] {
  width: 100%;
  padding: 31px 0;
  background: #f3f3f3;
  border: none;
  border-bottom: 1px solid #777;
  color: #a7a7a7;
  font-size: 16px;
}
/* line 336, ../sass/screen.scss */
input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #3971ff;
  color: #4c4c4c;
}

/* line 338, ../sass/screen.scss */
.select-are {
  padding: 32px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #777;
  background: none;
  color: #a7a7a7;
  font-size: 16px;
  text-align: top;
}
/* line 339, ../sass/screen.scss */
.select-are:focus {
  outline: none;
  border-bottom: 1px solid #3971ff;
  color: #4c4c4c;
}

/* line 340, ../sass/screen.scss */
input[type="Textarea"] {
  width: 100%;
  background: #f3f3f3;
  height: 160px;
  border: none;
  border-bottom: 1px solid #777;
  vertical-align: top;
  background: none;
  font-size: 16px;
  color: #a7a7a7;
}
/* line 342, ../sass/screen.scss */
input[type="Textarea"]:focus {
  outline: none;
  border-bottom: 1px solid #3971ff;
  color: #4c4c4c;
}

/* line 344, ../sass/screen.scss */
.content__mail--go {
  margin-top: 9%;
  color: #3971ff;
}
/* line 346, ../sass/screen.scss */
.content__mail--go:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #3971ff;
  margin-top: 2%;
}
/* line 347, ../sass/screen.scss */
.content__mail--go:hover:after {
  width: 150px;
  transition: width 0.3s ease-out 0.3s;
}

/* PAGE 9 OUT  */
